<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "quotation.ivanezko.phonegap"
        versionCode="1"
        version   = "0.0.0.1">

    <name>Movie quotes</name>
    <preference name="phonegap-version" value="3" />

    <description>
        Guess the quotation game
    </description>

    <author href="https://ivanezko.com" email="ivanezko@gmail.com">
        Ivan Eidemiller
    </author>

    <access origin="*" />

    <plugin name="Battery" value="org.apache.cordova.BatteryListener" />
    <plugin name="NetworkStatus" value="org.apache.cordova.NetworkManager" />
    <gap:plugin name="org.apache.cordova.device" />
</widget>